# Ignore all Python files in the tools and github folders for language stats
tools/*.py linguist-detectable=false
.github/workflows/*.yml linguist-detectable=false

# Explicitly mark your source files as the main attraction
src/*.cpp linguist-detectable=true
src/includes/*.hpp linguist-detectable=true
