name: MacOS CI Test

on:
  push:
    branches: [ main, master, dev ]
  pull_request:
    branches: [ main, master, dev ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: install
      run: |
        brew install mysql-client
    - name: configure
      run: |
        export FLAGS="-I$(brew --prefix mysql-client)/include"
        export LDFLAGS="-L$(brew --prefix mysql-client)/lib"
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
    - name: building
      run: |
        cmake --build build --config Debug -j4
