name: Ubuntu CI Test

on:
  push:
    branches: [ main, master, dev ]
  pull_request:
    branches: [ main, master, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install -y libmysqlclient-dev gcovr lcov
    - name: configure
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=On
    - name: building
      run: |
        cmake --build build --config Debug -j4
